body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  /* background: #21c08b; */
}
.header{
  background: #21c08b;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img{
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__menu{
  margin-right: 30px;
}
.header__menu ul{
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  width: 100px;
  text-align: right;
  margin: 0 0 0 -14px;
}
.header__menu:hover ul, ul:hover {
  display: block;
}
.header__menu li{
  margin: 10px 0;
}
.header__menu li a{
  color: #fff;
  text-decoration: none;
}
.header__menu li a:hover{
  text-decoration: underline;
}
.header__menu--profile{
  margin-right: 8px;
  display: flex;
  align-items: center;
}
.header__menu--profile img{
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.header__menu--profile p{
  color: #fff;
  margin: 0;
}

.login{
  background: linear-gradient(#21c08b, #834dfc);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 100px);
}
.login__container{
  background: rgba(255,255,255,.1);
  border: 2px solid white;
  border-radius: 40px;
  color: #fff;
  padding: 60px 68px 40px;
  min-height: calc(100vh - 200px);
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 1rem;
}
.login__container--form{
  display: flex;
  flex-direction: column;
}
.login__container--form label{
  font-size: 14px;
}
.login__container--remember-me{
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover{
  text-decoration: underline;
}
.login__container--social-media > div {
  display: flex;align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container--social-media > div > img {
  width: 30px;
  margin-right: 10px;
}
.login__container--register{
  font-size: 14px;
}
.login__container--register a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover{
  text-decoration: underline;
}
.login__container--input {
  background: transparent;
  border: 0;
  color: white;
  border-bottom: 2px solid #fff;
  outline: none;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 20px;
  height: 50px;
}
::placeholder{
  color: white;
}
.button{
  background: rgba(255,255,255,.1);
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Multi', sans-serif;
  height: 50px;
  letter-spacing: 1px;
}

/* footer  */
.footer{
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #834dfc;
}
.footer a{
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
}
.footer a:hover{
  text-decoration: underline;
}

/* media querys */
@media screen and (max-width:600px){
  .login__container{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer{
    flex-direction: column;
    align-items: flex-start;
  }
}
